<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vincent Franco - A playground of new technologies</title>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/base.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="hero">
      <div class="text-center">
        <figure class="figure">
          <img class="img-circle img-responsive" src="http://www.gravatar.com/avatar/032f1a85263f21ff1f013421967ef99e?s=200" alt="Vincent Franco" />
        </figure>
        <h1 class="title">Vincent Franco</h1>
        <p class="subtext">Application Developer &cir; Motorcycle Enthusiast</pt>
        <ul>
          <li class="item">
            <a class="faa-parent animated-hover" href="http://github.com/vinniefranco">
              <i class="fa fa-github faa-pulse fa-2x"></i>
            </a>
          </li>
          <li class="item">
            <a class="faa-parent animated-hover" href="http://linkedin.com/in/vincentfranco">
              <i class="fa fa-linkedin faa-pulse fa-2x"></i>
            </a>
          </li>
          <li class="item">
            <a class="faa-parent animated-hover" href="http://twitter.com/vinniefranco">
              <i class="fa fa-twitter faa-pulse fa-2x"></i>
            </a>
          </li>
          <li class="item">
            <a class="faa-parent animated-hover" href="http://facebook.com/vinnie.franco">
              <i class="fa fa-facebook faa-pulse fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" role="main">
      <div class="row padded">
        <%= @inner %>
      </div>
      </div>
    </div> <!-- /container -->
  </body>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
